<!doctype html>
<html>
<head>
    <title>txDevServer</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.3/underscore-min.js"></script>

    <script type="text/template" id="requestLogMessageTemplate">
    <li class="<%= level %>" data-category="<%= name %>">
        <span class="name"><%= name %></span>
        <span class="now"><%= new Date().toLocaleTimeString() %></span> 
        <span class="time"><%= Math.round(time) %>ms</span> 
        <span><a href="<%= uri %>" target="_blank"><%= uri %></a></span>
        <span class="code"><%= code %></span>
    </li>
    </script>

    <script type="text/template" id="genericLogMessageTemplate">
    <li class="<%= level %>" data-category="<%= name %>">
        <span class="name"><%= name %></span>
        <span class="now"><%= new Date().toLocaleTimeString() %></span>
        <span><%= text %></span>
    </li>
    </script>

    <script type="text/template" id="categoryCheckboxTemplate">
        <li><label><input type=checkbox data-category="<%= category %>" checked><%= category %></label></li>
    </script>

    <script>
        var light;
        var queryTarget;
        var clear = false;
        var categories = {};
        var requestLogTemplate = _.template($("#requestLogMessageTemplate").html());
        var genericLogTemplate = _.template($("#genericLogMessageTemplate").html());
        var categoryCheckboxTemplate = _.template($("#categoryCheckboxTemplate").html());

        var mes = function(data, category){
            if (category == "webapp.request"){
                var newLog = requestLogTemplate(data);
            } else {
                var newLog = genericLogTemplate(data);
            }
            $("#log").prepend(newLog);

        };

        var ES = new EventSource("/log_es");

        var record_category = function(category){
            if (_.isUndefined(categories[category])){
                categories[category] = true;
                var newCheckbox = categoryCheckboxTemplate({category: category});
                $("#categories").prepend(newCheckbox);
            };
        };

        ES.onmessage = function(data){
                message = JSON.parse(data.data);
                console.log(message.data);
                if (message.event == "hello"){
                    setConnected(true);
                    return;
                }

                record_category(message.event);
                mes(message.data, message.event);
                clear = true;
        };

        ES.onopen = function(){
            setConnected(true);
        };

        ES.onerror = function(){
            setConnected(false);
        };

        var setConnected = function(isConnected){
            if (typeof light == "undefined"){
                return;
            }

            if (isConnected){
                light.innerHTML = "Connected";
                light.classList.remove("off");
                light.classList.add("on");
            } else {
                light.innerHTML = "Not connected";
                light.classList.remove("on");
                light.classList.add("off");
            }
        };
        $(function(){
            logTarget = document.getElementById("log");
            light = document.getElementById("isConnected");
            queryTarget = document.getElementById("queryLog");

            $("#categories").on("change", "input[type=checkbox]",    function(e){
                $("#log li[data-category='" + e.target.dataset['category'] + "']").each(function(index, elem){ 
                    if (e.target.checked){
                        $(elem).show();
                    } else {
                        $(elem).hide();
                    }
                });
            });

        });

        
    </script>

    <style>
    #log {
        list-style-type: none;
    }

    .event-hello {
        display: none;
    }

    #isConnected.on {
        color: green;
    }

    #isConnected.off {
        color: red;
    }

    #log li span {
        padding-right: 20px;
    }

    #log li {
        margin-bottom: 10px;
    }

    .ERROR, .CRITICAL {
        color: red;
    }

    #log {
        float: left;
    }

    aside {
        float: right;
    }

    #categories {
        list-style-type: none;
    }
    </style>

</head>
<body>
    
    <ul id="log"></ul>
    <aside>
        <span id="isConnected"></span>
        <ul id="categories"></ul>
    </aside>
</body>
</html>
